### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [7]:
#
nth_term = int(input("Enter nth Term :"))
#
factorial = 1
sum = 0
#
for i in range(1,nth_term+1):
    factorial *= i
    sum += i/factorial

print(sum)

2.5

# Nested Loops

In [13]:
# Example -> unique pairs
# number = input("Enter a Number :")
# for i in number:
#     for j in number:
#         print(i,j)

# Alternatively
number = int(input("Enter a Number :"))
for i in range(1,number+1):
    for j in range(1,number+1):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*<br>
** <br>
***<br>

In [5]:
# Taking no. of rows as input from user
rows = int(input("Enter No. of Rows :"))
# nested loop to print the pattern
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [6]:
# Alternative Approach
# Taking no. of rows as input from user
rows = int(input("Enter No. of Rows :"))
# Loop to print the pattern
for i in range(1,rows+1):
    print('*' * i)

*
**
***
****
*****

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [27]:
#
raw = int(input("Enter the No. of Raws :"))
for i in range(1,raw+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

1
121
12321
1234321
123454321

# Loop Control Statement

- Break
- Continue
- Pass

In [28]:
# break
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [30]:
#Example - Break
#
lowar_range = int(input("Enter Lowar Range :"))
upper_range = int(input("Enter Upper Range :"))
#
for i in range(lowar_range,upper_range+1):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i,end=',')

101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,199,

In [31]:
# continue
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [32]:
# pass
for i in range(1,10):
    pass

# String

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

### Creating Strings

In [35]:
name = 'shubham'
print(name)
birthDay = "shubham's birhtday is on 6th of March"
print(birthDay)
print("""Multi
line
string""")
roleNo = str(123)
print(roleNo,type(roleNo))

shubham
shubham's birhtday is on 6th of March
Multi
line
string
123 <class 'str'>

### Accessing Substrings from a String
* Indexing
* Slicing

In [41]:
#Positibe Indexing
s = "Shubham Kumar Gupta"
print(s[0])
print(s[1])
print(s[3])
print(s[8])
print(s[41])

S
h
b
K

IndexError: string index out of range

In [46]:
# Negative Indexing
s = "shubham kumar gupta"
print(s[-1])
print(s[-2])
print(s[-3])

atpug ramuk mahbuhs
a
t
p

In [5]:
# Slicing
s = "shubham kumar gupta"
print(s[8:13])

kumar

In [6]:
# slicing with stepsize
s = "shubham kumar gupta"
print(s[8:13:2])

kmr

In [11]:
print(s[4:])
print(s[:13])

ham kumar gupta
shubham kumar

In [20]:
# Slicing with negative indexing
s = "shubham kumar gupta"
print(s[13:7:-1])
print(s[7::-1])
print(s[::-1])

 ramuk
 mahbuhs
atpug ramuk mahbuhs

In [24]:
s = "shubham kumar gupta"
print(s[-1:-6:-1])
print(s[-5:])

atpug
gupta

### Editing and Deleting String

In [ ]:
# Editing --> Python strings are immutable and can not be edited.

In [25]:
# deleting a string --> not deleted at memory level.
z = "Pakistan"
print(z)

Pakistan

In [26]:
del z

In [27]:
print(z)

NameError: name 'z' is not defined

In [28]:
y = "India"
del y[2:4]

TypeError: 'str' object does not support item deletion

### Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

##### Arithmetic Operators

In [30]:
first_name = "Shubham"
last_name  = "Gupta"
print(first_name +' '+ last_name)
# + --> string concatination

Shubham Gupta

In [33]:
print(first_name * 5)

ShubhamShubhamShubhamShubhamShubham

##### Relational Operators

In [36]:
print(first_name>last_name)
# jo baad me aayega wo bada hoga from ASCII value point of view (Lexiographically Campaired)

True

In [35]:
print(first_name==last_name)

False

In [37]:
print('Shubham'>'shubham')
# ASCII value of 'S' is smaller than that of 's'

False

##### Logical Operators

In [40]:
print(first_name and last_name)
print(first_name or last_name)
print( not first_name)

Gupta
Shubham
False

In [46]:
print(not '')
print(not ' ')
print('' and 'shubham')
print('' or 'shubham')

True
False

shubham

##### Iteration

In [48]:
y = "India"
for i in y :
    print(i)

I
n
d
i
a

##### Membership Operators

In [49]:
y = "India"
'I' in y

True

In [51]:
'i' not in y

False

# String Functions

### Common Functions
works with string,tuple,sets,dictionaries
* len
* max
* min
* sorted

In [52]:
# len()
s = "shubham kumar gupta"
print(len(s))

19

In [53]:
# max()
print(max(s))

u

In [55]:
# min()
print(min(s[0:6]))

a

In [56]:
# sorted
print(sorted(s))

[' ', ' ', 'a', 'a', 'a', 'b', 'g', 'h', 'h', 'k', 'm', 'm', 'p', 'r', 's', 't', 'u', 'u', 'u']

In [57]:
print(sorted(s,reverse=True))

['u', 'u', 'u', 't', 's', 'r', 'p', 'm', 'm', 'k', 'h', 'h', 'g', 'b', 'a', 'a', 'a', ' ', ' ']

### Capitalize/Title/Upper/Lower/Swapcase

In [46]:
s = "shubham kumar gupta"
print(s.capitalize())
print(s)

Shubham kumar gupta
shubham kumar gupta

In [47]:
s = "shubham kumar gupta"
print(s.title())
print(s)

Shubham Kumar Gupta
shubham kumar gupta

In [48]:
s = "shubham kumar gupta"
print(s.upper())
print(s)

SHUBHAM KUMAR GUPTA
shubham kumar gupta

In [49]:
s = "SHUBHAM KUMAR GUPTA"
print(s.lower())
print(s)

shubham kumar gupta
SHUBHAM KUMAR GUPTA

In [50]:
s = "sHUbhAm"
print(s.swapcase())
print(s)

ShuBHaM
sHUbhAm

### Count/Find/Index

In [9]:
s = "shubham kumar gupta"
print(s.count('a'))
print(s.count('u'))
print(s.count('ku'))
print(s.count('kumar'))

3
3
1
1

In [20]:
s = "shubham kumar gupta"
print(s.find('g'))
print(s[14])
print(s.find('a'))
print(s[5])
print(s.find('m'))
print(s[6])
print(s.find('j'))
print(s.find('l'))

14
g
5
a
6
m
-1
-1

In [21]:
s = "shubham kumar gupta"
print(s.index('g'))
print(s.index('a'))
print(s.index('j'))

14
5

ValueError: substring not found

### endswith/startswith

In [26]:
s = "shubham kumar gupta"
print(s.endswith('s'))
print(s.endswith('a'))
print(s.endswith('gupta'))

False
True
True

In [27]:
s = "shubham kumar gupta"
print(s.startswith('k'))
print(s.startswith('s'))
print(s.startswith('shubh'))

False
True
True

### format

In [28]:
name = 'shubham kumar gupta'
age = 22
intro = "my name is {} and I am {} years old."
print(intro.format(name,age))
# can have any number of arguments.

my name is shubham kumar gupta and I am 22 years old.

In [30]:
name = 'shubham kumar gupta'
age = 22
intro = "my name is {} and I am {} years old.".format(name,age)
print(intro)

my name is shubham kumar gupta and I am 22 years old.

In [31]:
name = 'shubham kumar gupta'
age = 22
intro = "my name is {} and I am {} years old.".format(age,name)
print(intro)

my name is 22 and I am shubham kumar gupta years old.

In [32]:
intro = "my name is {1} and I am {0} years old.".format(age,name)
print(intro)

my name is shubham kumar gupta and I am 22 years old.

### isalnum/ isalpha/ isdigit/ isidentifier

In [38]:
name = 'shubham kumar gupta'
print(name.isalpha())
print(name.isalnum())
print(intro.isalnum())
print(intro.isalpha())

False
False
False
False

In [56]:
name = 'shubhamkumargupta'
print(name.isalpha())
name = 'shubhamkumargupta123'
print(name.isalnum())
age = '22'
print(age.isdigit())
print('name'.isidentifier())
print('age'.isidentifier())
print('intro'.isidentifier())
print('first-name'.isidentifier())
print('first@name'.isidentifier())
print('1name'.isidentifier())

True
True
True
True
True
True
False
False
False

### Split/Join

In [59]:
name = 'shubham kumar gupta'
print(name.split())
name = 'shubhamkumargupta'
print(name.split())
print(name.split('a'))

['shubham', 'kumar', 'gupta']
['shubhamkumargupta']
['shubh', 'mkum', 'rgupt', '']

In [65]:
name = 'shubham kumar gupta'
name2 = name.split()
print(name2)
print(''.join(name2))
print(' '.join(name2))
print('-'.join(name2))
print('_'.join(name2))

['shubham', 'kumar', 'gupta']
shubhamkumargupta
shubham kumar gupta
shubham-kumar-gupta
shubham_kumar_gupta

### Raplace

In [72]:
intro = 'my name is 22 and I am shubham kumar gupta years old.'.replace('22','shubham')
print(intro)
intro = intro.replace('shubham kumar gupta','22')
print(intro)

my name is shubham and I am shubham kumar gupta years old.
my name is shubham and I am 22 years old.

In [73]:
print(intro.replace('jha','singh'))

my name is shubham and I am 22 years old.

### Strip

In [79]:
name = 'shubham            kumar                   gupta'
print(name)
print(name.strip())

shubham            kumar                   gupta
shubham            kumar                   gupta

In [9]:
name = 'shubham                  '
sur_name = '           kumar'
print(name)
print(name + sur_name)
print(name.strip() +' '+ sur_name.strip())

shubham
shubham                             kumar
shubham kumar

## Example Problems

In [11]:
# Find the length of a given string without using the len() function
#
s = input("Enter a String: ")
#
counter = 0
for i in s:
    counter+=1
#
print("The length of",s,"is",counter)

The length of shubham is 7

In [16]:
# Extract username from a given email. 
# Eg if the email is nitish24singh@gmail.com 
# then the username should be nitish24singh
#
email = input("Enter Your Email: ")
print(email)
#
user_name = (email.split('@'))[0]
#
print(user_name)
# Alternativly using for loop
user = ''
for i in email:
    if i == "@":
        break
    else:
        user += i
#
print(user)

shubham@gmail.com
shubham
shubham

In [15]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.
#
s = input("Enter a String: ")
term = input("Enter the Character to Count: ")
#
freq = s.count(term)
#
print("The frequency of",term,"in",s,"is",freq)
#Alternatively using for loop
#
counter = 0
#
for i in s:
    if i == term:
        counter += 1
#
print("The frequency of",term,"in",s,"is",counter)

The frequency of h in shubham kumar gupta is 2
The frequency of h in shubham kumar gupta is 2

In [27]:
# Write a program which can remove a particular character from a string.
#
s = input("Enter a String: ")
term = input("Enter the character to remove: ")
#
new_s = s.split(term)
#
result = ''.join(new_s)
#
print('string: ',s)
print('term: ',term)
print('result: ',result)
# Alternatively using for loop with continue
#
result = ''
for i in s:
    if i == term:
        continue
    else:
        result += i
# 
print('result: ',result)
#Alternatively - using for loop without continue
result = ''
for i in s:
    if i != term:
        result += i
#
print('result: ',result)

string:  shubham kumar gupta
term:  a
result:  shubhm kumr gupt
result:  shubhm kumr gupt
result:  shubhm kumr gupt

In [49]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

#
word = input("Enter a Word: ")
#
flag = True
#
for i in range(0,len(s)//2):
    if word[i] != word[len(word) - i - 1]:
        flag = False
        print(word,'is not a palindrome.')
        break
if flag:
    print(word,'is a palindrome.')

shubhamj is not a palindrome.

In [53]:
# Write a program to count the number of words in a string without split()
#
s = input("Enter a String: ")
#
counter = 0
#
for i in s:
    if i == " ":
        counter += 1
print("No. of words in string","'",s,"'","is",counter+1)

No. of words in string ' shubham kumar gupta ' is 3